{% extends 'base.html.twig' %}
{# @var projects \Entity\Project[] #}

{% block title %}Mon site internet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <h1>Salut les gens !</h1>

    <p>{{ 'Liste des ' ~ projects|length ~ ' projets.' }}</p>

    <section>
        {% for p in projects if p.price > 50000 %}
            {% include 'project/thumbnail.html.twig' with { 'project': p } only %}
        {% else %}
            <p>Aucun projet à afficher</p>
        {% endfor %}
    </section>

{% endblock %}